{% extends 'base.html' %}

{% block content %}
<h4>Please insert date of new car</h4>
<form action="" method="post">
    <p>Make by:</p>
    <p><input type="text" name="makeinputas"></p>
    <p>Model:</p>
    <p><input type="text" name="modelinputas"></p>
    <p>Color:</p>
    <p><input type="text" name="colorinputas"></p>
    <p>Year:</p>
    <p><input type="text" name="yearinputas"></p>
    <p>Price:</p>
    <p><input type="text" name="priceinputas"></p>

    <p><input type="submit" value="save"></p>
</form>

{% endblock %}